/* här är allt som har med ENDAST main att göra */
main {
    background-color: rgb(11, 11, 11);
    flex: 1;
    display: flex;
    flex-direction: column;
    height: auto;
    border-top: 2px solid rgba(48, 48, 48, 0.957);
    width: 100%;
}

.h1-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.2em;
}

.page-title {
    color: transparent;
    /* Gör den befintliga texten osynlig */
    background-image: url('gold.jpg');
    /* Ange sökvägen till din bild */
    background-clip: text;
    /* Använd text som klipplats för bakgrundsbilden */
    -webkit-background-clip: text;
    /* För äldre webbläsare som stöder det */
    padding: 0.3em 0.6em;
    /* Lägg till lite utrymme runt texten för estetik */
    border-radius: 5px;
    /* Runda hörnen för en mjukare look */
    font-weight: lighter;
    font-size: 1.2em;
    line-height: 1em;
    font-family: "Roboto", sans-serif !important;
    text-align: center;
    /* Använd en sans-serif font-family för en modern stil */
}

.input-container {
    margin-top: 1.5em;
}

.dropdown-container,
.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.dropdown-input-from,
.dropdown-input-to {

    align-items: center;
    background-image: linear-gradient(144deg, #201926, #433b81 50%, #2d53bd);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 4em;
    padding: 1.0em 0em;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    display: flex;
}

.input-from-container, .input-to-container{
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    border-radius: 8px;
    background-image: linear-gradient(144deg, #201926, #433b81 50%, #2d53bd);
}


.searchdiv {
    background-color: #44a863;
}

.input-div {
    padding: 20px;
}

.input-container input {
    padding: 20px;
    font-size: 16px;
    border: none;
}

input:focus {
    outline: none;
}


.arrow-div {
    font-size: 30px;
    opacity: 0.6;
    color: #ffffff;
}

.dropdown-div-from,
.dropdown-div-to {
    padding: 0.3125em 2.1875em 3.125em;
    z-index: 1;
}

#input-from,
#input-to {
    opacity: 0.8;
    border-radius: 8px;
    max-width: 100%;
    min-width: 4em;
    /* padding: 1.0em 1.2em; */
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    text-decoration: none;
}

/* för att ta bort uppp och ned pilarna i input fälten */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.dropdown-choices-none {
    display: none;
}

.flag-icon{
    max-height: 1em;
    max-width: 1em;
    margin-right: 1em;
}

.fa-search{
    max-height: 2em;
    max-width: 2em;
    margin-right: 1em;
    padding: 1em 1em;
    color: #FFFFFF;
}
.show-dropdown {
    position: absolute;
    display: block;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    max-height: calc(10em);
    overflow-y: scroll;
    margin-top: 60px;
    max-width: 100%;
    min-width: 14.5em;
    padding: 1.0em 1.2em;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    border-radius: 8px;
    background-color: #393064;
    z-index: 9999;
    overflow-x: hidden;
}

.show-dropdown::-webkit-scrollbar {
    width: 8px;
}

.show-dropdown::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.show-dropdown::-webkit-scrollbar-thumb {
    background-color: #393064;
    border-radius: 4px;
}

.show-dropdown::-webkit-scrollbar-thumb:hover {
    background-color: #675b89;
}

.show-dropdown a {
    padding: 10px 8px 8px;
    position: relative;
    text-decoration: none;
    display: block;
    max-width: 100%;
    color: #f1f1f1;
    text-align: center;
    width: 100%;
}

.show-dropdown a:hover {
    background-color: #675b89;
}

.exchange-result-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.exchange-result-div h3 {
    padding: 0px 0px 35px;
}

.currency-stats {
    box-shadow: 0px 5px 10px rgba(133, 132, 132, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 1em;
    color: white;
    margin-bottom: 2em;
}

.currency-stats h2 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}

.currency-stats p {
    font-size: 13px;
}

.strongest-currency,
.weakest-currency {
    flex: 1;
    margin: 0 10px;
}

.exclamation-weakest-popup-div,
.exclamation-strongest-popup-div {
    position: fixed;
    font-family: "Helvetica", Arial, sans-serif;
    color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    background-color: rgba(77, 72, 177, 0.9);
    border-radius: 8px;
    font-size: 14px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(51, 51, 51, 0.2);
    z-index: 9999;
    display: flex;
    flex-direction: column;
}

.exclamation-weakest-popup-div {
    position: absolute;
    /* vertikala positionen: */
    top: 520px;
    /* horisontella positionen */
    left: 50%;
    transform: translate(-50%, -50%);
}

.exclamation-strongest-popup-div {
    position: absolute;
    top: 520px;
    left: 200px;
    transform: translate(-50%, -50%);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-header {
    display: flex;
    justify-content: space-between;
}

.change-base-div {
    display: flex;
}

/* här är allt för de tre kolumner, nyheter osv... */
/* .three-div-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    max-height: auto;
} */
.three-div-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.present-news-div {
    background-image: url('stock1.png');
    filter: brightness(0.7);
}

.present-currencies-div {
    background-image: url('stock2.png');
    filter: brightness(0.7);
}

.present-marketstatus-div {
    background-image: url('stock3.png');
    filter: brightness(0.7);
}

.present-news-div,
.present-currencies-div,
.present-marketstatus-div {
    flex: 1;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: Phantomsans, sans-serif;
    font-size: 10px;
    /* line-height: 1.8em; */
    padding: 0.8em 1em;
    margin: 0.5em;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-align: center;
    overflow: auto;
    max-height: 30em;
    max-width: 35em;
}

.present-news-div p,
.present-currencies-div p,
.present-marketstatus-div p {
    padding: 10px;
    font-size: 20px;
}

#news-list,
#marketstatus-list,
#currencies-list {
    /* display: flex;
    flex-direction: column; */
    display: block;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-grow: 1;
    overflow: auto;
}

#news-list li,
#marketstatus-list li,
#currencies-list li {
    background-color: rgba(26, 25, 28, 0.5);
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    list-style: none;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.news-links,
.marketStatusLinks {
    color: white;
}

.chart-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    max-height: 10em;
    margin-top: 1em;
    /* Lägg till en margin-top för att skapa avstånd från element ovanför */
    margin-bottom: 2em;
    /* Lägg till en margin-bottom för att skapa avstånd från element nedanför */
    background-color: rgba(53, 53, 53, 0.2);
    /* Bakgrundsfärg med 20% opacitet (eller den önskade effekten) */
    /* padding: 5px 10px; */
    /* Lägg till lite utrymme runt texten för estetik */
    border-radius: 5px;
    /* Runda hörnen för en mjukare look */
    font-weight: lighter;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    /* Använd en sans-serif font-family för en modern stil */
}

.canvasjs-chart-canvas {
    width: 100% !important;
    max-height: 10em;
    position: absolute;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    cursor: default;
    
}

  
#chartContainer {
    max-height: 10em;
    /* Ange den önskade höjden för chartContainer */
    position: relative !important;
    width: calc(100% - 20px);
}