.banner {
    justify-content: center;
  }
  
  .text-logo-div img {
    max-width: 9.375em;
    max-height: 6.25em;
    padding-right: 1.25em;
  }
  
  .suit-logo-div img {
    padding-right: 1.25em;
    max-width: 6.25em;
    max-height: 3.125em;
  }
  
  .material-symbols-outlined {
    font-size: 2em;
  }
  
  .h1-div {
    margin-top: 0.625em;
  }
  
  .page-title {
    font-size: 0.8125em;
    text-align: center;
  }
  
  .input-container {
    margin-top: 0.6em !important;
  }
  
  .input-to,
  .input-from,
  .dropdown-input-from,
  .dropdown-input-to {
    border-radius: 0.5em;
    font-size: 0.9375em;
    line-height: 0.8em;
    max-width: 100%;
    min-width: 5em;
    padding: 0.625em 0.9375em;
  }
  
  .input-container input {
    padding: 1.25em;
    font-size: 1em;
    border: none;
  }
  
  .input-container input {
    width: 6.25em;
  }
  
  .feedback-popup-div {
    font-size: 0.9375em;
    padding: 0.9375em;
    top: 12.5em;
    right: -6.25em;
  }
  
  .send-mail-btn {
    font-size: 0.9375em;
    text-align: center;
    max-width: 5em;
    min-width: 2.5em;
    padding: 0.625em 1.25em;
    margin-top: 0.3125em;
  }
  
  #input-from,
  #input-to,
  .dropdown-input-to,
  .dropdown-input-from {
    border-radius: 0.5em;
    min-width: 3.125em;
    padding: 1.1875em 1.5em;
    font-size: 0.9375em;
    line-height: 1em;
  }
  
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 3;
  }
  
  .show-dropdown {
    border-radius: 8px;
    padding-top: 1em;
    font-size: 15px;
    line-height: 1em;
    max-height: calc(200px);
    min-width: 4em;
}

.show-dropdown a {
    min-width: auto;
    max-width: 4em;
    white-space: nowrap;
    font-size: 15px;
}

  
  .dropdown-input-to,
  .dropdown-input-from {
    width: 6.25em;
  }
  
  .dropdown-input-to,
  .dropdown-input-from a {
    width: 6.25em;
  }
  
  .dropdown-wrapper {
    width: 2.5em;
  }
  
  .input-container {
    margin-top: 3.125em;
  }
  
  .dropdown-div-from,
  .dropdown-div-to {
    padding: 0.625em;
    padding-bottom: 0.625em;
    padding-top: 0.3125em;
  }
  
  .currency-stats {
    padding: 0.625em;
    margin: 0.3125em;
    border-radius: 0.625em;
    opacity: 0.7;
  }
  
  .currency-stats p {
    font-size: 0.3125em;
  }
  
  .currency-stats h2 {
    font-size: 0.3125em;
  }
  
  .exclamation-weakest-popup-div,
  .exclamation-strongest-popup-div {
    font-size: 0.3125em;
    padding: 0.9375em;
  }
  
  .exclamation-weakest-popup-div {
    top: 25.625em;
    /* Justera detta värde för att ändra vertikal position */
    left: 15em;
    /* Justera detta värde för att ändra horisontell position */
  }
  
  .exclamation-strongest-popup-div {
    top: 25.625em;
    /* Justera detta värde för att ändra vertikal position */
    left: 8.75em;
    /* Justera detta värde för att ändra horisontell position */
  }
  
  .three-div-container {
    margin-bottom: 0.9375em;
    margin-top: 0.9375em;
  }
  
  .marketstatus-header,
  .currencies-header,
  .news-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.125em;
  }
  
  .hide-presentations {
    max-width: 250px;
    margin-left: 5px;
    font-size: 10px;
   max-height: 50px;
}

.hide-presentations p{
    font-size: 13px;
    padding: 4px;
}

.show-presentations {
    width: 260px;
    margin-left: 10px;
    font-size: 10px;
    padding: 5px 10px;
    max-height: 250px;
    overflow-x: hidden;
}

.show-presentations p {
    padding: 15px 20px;
    font-size: 13px;
}

.show-presentations li {
    margin: 2px;
    margin-top: 2px;
    line-height: 1em;
    padding: 5px !important;
    font-size: 12px !important;
}

  .chart-div {
    margin-top: 0em;
    margin-bottom: 0em;
  }
  
  #chartContainer {
    margin: 0.3125em;
    max-height: 7.5em !important;
    max-width: 100%;
  }
  
  .canvasjs-chart-canvas {
    width: 100% !important;
    height: auto;
    position: absolute;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    cursor: default;
  }
  
  footer a,
  p,
  b {
    font-size: 0.3125em;
  }
  
  .three-div-container {
    flex-direction: column; /* Ändra layouten till kolumn vid mindre skärmar */
    align-items: center;
  }
  
  .present-news-div,
  .present-currencies-div,
  .present-marketstatus-div {
    width: 18.75em; /* Ta upp hela bredden på mindre skärmar */
  }
  