.input-container input {
    width: 100px;
}

.dropdown-button-to,
.dropdown-button-from {
    width: 100px;
}

.dropdown-button-to,
.dropdown-button-from a{
    width: 100px;
}

.input-container{
    margin-top: 50px;
}
.dropdown-div-from, .dropdown-div-to {
    padding: 35px;
    padding-top: 5px;
}
.show-dropdown{
    min-width: 100px;
}
.currency-stats {
    padding: 30px;
    border-radius: 10px;
    opacity: 0.7;
}

.currency-stats p {
    font-size: 10px;
}

.currency-stats h2 {
    font-size: 12px;
}

footer a, p, b{
    font-size: 10px;
}