.banner {
    justify-content: flex-start;
}

.banner img {
    max-width: 150px;
    max-height: 100px;
}

.material-symbols-outlined {
    font-size: 2em;
}

.input-container {
    margin-top: 20px !important;
}

.input-to,
.input-from,
.dropdown-input-from,
.dropdown-input-to {
    border-radius: 8px;
    font-size: 15px;
    line-height: 0.8em;
    max-width: 100%;
    min-width: 80px;
    padding: 10px 15px;
}

.input-container input {
    padding: 20px;
    font-size: 16px;
    border: none;
}

.input-container input {
    width: 100px;
}

.feedback-popup-div {
    font-size: 15px;
    padding: 15px;
    top: 200px;
    right: -100px;
}

.send-mail-btn {
    font-size: 15px;
    text-align: center;
    max-width: 80px;
    min-width: 40px;
    padding: 10px 20px;
    margin-top: 5px;
}


#input-from,
#input-to,
.dropdown-input-to,
.dropdown-input-from {
    border-radius: 8px;
    min-width: 50px;
    padding: 19px 24px;
    font-size: 15px;
    line-height: 1em;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.show-dropdown {
    border-radius: 8px;
    padding: 12px 16px;
    font-size: 15px;
    line-height: 1em;
    max-height: calc(200px);
    min-width: 50px;
}

.show-dropdown a {
    min-width: 50px;
    font-size: 15px;
}

.dropdown-input-to,
.dropdown-input-from {
    width: 100px;
}

.dropdown-input-to,
.dropdown-input-from a {
    width: 100px;
}

.dropdown-wrapper {
    width: 40px;
}

.input-container {
    margin-top: 50px;
}

.dropdown-div-from,
.dropdown-div-to {
    padding: 35px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.currency-stats {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    opacity: 0.7;
}

.currency-stats p {
    font-size: 10px;
}

.currency-stats h2 {
    font-size: 10px;
}

.exclamation-weakest-popup-div,
.exclamation-strongest-popup-div {
    font-size: 10px;
    padding: 15px;
}

.exclamation-weakest-popup-div {
    top: 440px;
    /* Justera detta värde för att ändra vertikal position */
    left: 240px;
    /* Justera detta värde för att ändra horisontell position */
}

.exclamation-strongest-popup-div {
    top: 440px;
    /* Justera detta värde för att ändra vertikal position */
    left: 140px;
    /* Justera detta värde för att ändra horisontell position */
}

.three-div-container {
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.hide-presentations {
    width: 250px;
    margin-left: 5px;
    font-size: 10px;
    /* padding: 15px 20px; */
    max-height: 50px;
}

.hide-presentations p{
    font-size: 15px;
    padding: 4px;
}

.show-presentations {
    width: 250px;
    margin-left: 10px;
    font-size: 12px;
    padding: 5px 10px;
    max-height: 250px;
    overflow-x: hidden;
}

.show-presentations p {
    padding: 0px;
    font-size: 15px;
}

.show-presentations li {
    margin: 0px;
    margin-top: 2px;
    padding: 0px !important;
    font-size: 13px !important;
}

#chartContainer {
    height: 100px !important;
    width: 100%;
}

footer a,
p,
b {
    font-size: 10px;
}