* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(211, 223, 245);
    margin-top: 0;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
h1{
    font-size: 50px;
    color: rgb(16, 16, 156);
}

main {
    background-color: rgb(214, 209, 209);
    flex: 1;
    display: flex;
    flex-direction: column;
    /* göm skroller sedan */
    /* overflow-y: scr}oll;  */
}


.dropdown-container, .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-div{
    padding: 20px;
}
.input-container input{
    padding: 20px;
    font-size: 16px;
    border: none;
    width: 200px;
}

.dropdown-div-from, .dropdown-div-to {
    padding: 20px;
}

.dropdown-button-to, .dropdown-button-from {
    padding: 20px;
    font-size: 16px;
    border: none;
    width: 200px;
}

.dropdown-choices-none{
    display: none;
}

.show-dropdown{
    position: absolute;
    display: block;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    max-height: calc(200px);
    overflow-y: scroll;
    margin-top: 56px;
}

.show-dropdown a{
    position: relative;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

footer {
    bottom: 0px;
    height: 50px;
    background-color: rgb(119, 218, 231);
}

button, a {
    cursor: pointer;
    background-color: rgb(60, 60, 211);
    color: azure;
}
button:hover, a:hover{
    opacity: 0.9;
}
h1, h2, h3, p, text{
    font-family: Arial, Helvetica, sans-serif;
}